@font-face {
    /* https://fonts.google.com/specimen/Ubuntu */
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(../webfonts/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
    /* https://fonts.google.com/specimen/Special+Elite */
    font-family: "Special Elite";
    font-style: normal;
    font-weight: 400;
    src: local("Special Elite Regular"), local("SpecialElite-Regular"), url(../webfonts/SpecialElite-Regular.ttf) format("truetype");
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Special Elite", cursive;
}

.text-custom {
    color: #e8e9ea; /* default "text-light" is #f8f9fa */
}

.text-muted-custom {
    opacity: 0.5; /* that way the text color is inherited, but then *everything* is opacified */
}

.pt-custom {
    padding-top: 5rem;
}

a, a:hover {
    color: inherit;
}
